#user.tab-pane.show.active(role="tabpanel" aria-labelledby="item1-tab") 
  div.table-wrapper
    table.table.table-striped.user-list
      thead
        tr         
          th(scope="col") 申請者
          th(scope="col") 利用環境
          th(scope="col") プロセッサ
          th(scope="col") スペック
          th(scope="col") 申請日時
      tbody.js-admin_user_info
