#apply.tab-pane(role="tabpanel" aria-labelledby="item2-tab") 
  div.table-wrapper
    table.table.table-striped.user-list.text-center
      thead
        tr
          th(scope="col") 選択
          th(scope="col") 申請者
          th(scope="col") 利用環境
          th(scope="col") プロセッサ
          th(scope="col") スペック
          th(scope="col") 申請日時
      tbody.js-admin_apply_info
        //- tr
        //-   th(scope="row")
        //-    label
        //-       input(type="checkbox" value="mori" name="apply-user" )
        //-       |value=mori
        //-   td 森 真輝人
        //-   td
        //-   td
        //-   td
        //-   td
        //-   td
  div.menu_wrapper
    div.d-flex        
        a(href="./admin_top.html")
          input(type="button", value="承認").button.js-admin_apply-user
        a(href="./admin_top.html")
          input(type="button", value="否認").button.js-admin_deny_apply-user
