section.section#about
    .section__title
        h2 About
        span.material-icons.h2__icon emoji_people
    .section__content.mt-auto
        ul.about
            li.about__list.about__list--name
                span.about__title
                    | Name : 
                span.about__detail
                    | Makito Mori
                .about__img
            li.about__list.about__list--birthday                   
                span.about__title
                    | Birthday :
                span.about__detail
                    |  1993/06/24

            li.about__list.about__list--job                   
                span.about__title
                    | Job :
                span.about__detail
                    |  Front Engineer & IT Consultant
                    
            li.about__list.about__list--address
                span.about__title
                    | Name : 
                span.about__detail
                    | Makito Mori
            li.about__list.about__list--hobby
                span.about__title
                    | Hobby :
                span.about__detail
                    | Football
