section.section#about
    .section__title        
        h2 
            |About
        span.material-icons.h2__icon emoji_people
    .section__content.mt-auto
        ul.about
            li.about__list.about__list--name
                span.about__title
                    | Name : 
                span.about__detail
                    | Makito Mori
                .about__img
            li.about__list.about__list--birthday                   
                span.about__title
                    | Birthday :
                span.about__detail
                    |  1993/06/24

            li.about__list.about__list--job                   
                span.about__title
                    | Job :
                span.about__detail
                    |  Front-End Engineer,<br class="only-sp"> IT Consultant
                    
            li.about__list.about__list--qualification
                span.about__title
                    | Qualifications :
                span.about__detail
                    | 基本情報技術者, <br class="only-sp">AWS Solutions Architect Associate

            li.about__list.about__list--hobby
                span.about__title
                    | Hobby :
                span.about__detail
                    | Football
                    
            li.about__list.about__list--school
                span.about__title
                    | Scholl Carrer :
                span.about__detail
                    | 2017 Mar Bachelor of Science, Yamaguchi University<br>2019 Mar Master of Science, Osaka University
                    



