section.section#contact
    .section__title
        h2
            |Contact
        span.material-icons.h2__icon contacts
    .section__content   
        ul.contact  
            li.contact__list    
                a.contact__link(href="")
                    .contact__img
                        i.fab.fa-twitter | aa
                    .contact__title Twitter
            li.contact__list    
                a.contact__link(href="")
                    .contact__img
                    .contact__title GitHub
            li.contact__list    
                a.contact__link(href="")
                    .contact__img
                    .contact__title Instagram
            li.contact__list    
                a.contact__link(href="")
                    .contact__img
                    .contact__title E-mail
                                        