section.section#contact
    .section__title
        h2
            |Contact
        span.material-icons.h2__icon contacts
    .section__content   
        ul.contact  
            li.contact__list    
                a.contact__link(href="https://twitter.com/mkt_phys" target="_blank")
                    .contact__img
                        i.fab.fa-twitter 
                    .contact__title Twitter
            li.contact__list    
                a.contact__link(href="https://github.com/mkt-phys" target="_blank")
                    .contact__img
                        i.fab.fa-github
                    .contact__title GitHub
            li.contact__list    
                a.contact__link(href="https://www.instagram.com/mkt.phys/" target="_blank")
                    .contact__img
                        i.fab.fa-instagram-square
                    .contact__title Instagram
            li.contact__list    
                a.contact__link(href="https://qiita.com/t058de" target="_blank")
                    .contact__img
                        img(src=require("../../images/contact/logo.png" ).default).img-qiita
                    .contact__title Qiita
            //- li.contact__list    
            //-     a.contact__link(href="" target="_blank")
            //-         .contact__img
            //-             i.fas.fa-envelope-square
            //-         .contact__title E-mail
                                        