ul.main-nav__list
    li.main-nav__item
        a.main-nav__link(href="#") Home 
    li.main-nav__item
        a.main-nav__link(href="#about") About
    li.main-nav__item
        a.main-nav__link(href="#skill") Skill
    li.main-nav__item
        a.main-nav__link(href="#work") Work
    li.main-nav__item
        a.main-nav__link(href="#contact") Contact
