section.section#work
    .section__title
        h2
            //- span.material-icons work
            | Work
        span.material-icons.h2__icon work
    .section__content
        ul.work
            li.work__list
                a.work__link(href="/")
                    .work__img
                        img(src=require("../../images/work/portfolio.png").default)
                    .work__title  
                        | this portfolio
                    .work__detail
                        |aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                        
            li.work__list
                    .work__img
                        img(src=require("../../images/work/technology.jpg").default)
                    .work__title Front-end development environment
                    .work__detail Webpack使った。pug,scss,js,bootstrap,jQuery,lodashが使える環境
            
            li.work__list
                .work__img.work__img--icon
                    img(src=require("../../images/work/man-working-in-modern-office.png").default)
                .work__title Pokemon Search
                .work__detail Work In Progress ...
                    
