section.section#work
    .section__title
        h2
            //- span.material-icons work
            | Work
        span.material-icons.h2__icon work
    .section__content
        ul.work
            li.work__list
                a.work__link(href="/" target="_blank")
                    .work__img
                        img(src=require("../../images/work/portfolio.png").default)
                    .work__title  
                        |ポートフォリオ
                    .work__detail
                        |このページのことです。PCファーストでレスポンシブ対応してます。iPad Proくらいのウィンドウの幅では見ないでください。
                        
            li.work__list
                a.work__link(href="https://github.com/mkt-phys/portfolio" target="_blank")
                    .work__img
                        img(src=require("../../images/work/technology.jpg").default)
                    .work__title フロントエンド開発環境
                    i.fab.fa-github.text-center
                    .work__detail pug, scss, js, BootStrap, jQuery, lodashが使える開発環境です。ローカルサーバを立ててファイルを変更すると自動でリロードされます。タスクランナーはWebPackを使ってます。詳しい使い方はGitHubを見てください（まだ書いてない）。
                        

            
            li.work__list
                .work__img.work__img--icon
                    img(src=require("../../images/work/man-working-in-modern-office02.jpg").default)
                .work__title Pokémon Search
                .work__detail Work In Progress ...
                    
