h4.pl-5 EC2-GPU(linux)
table.table.table-striped
    thead
        tr
            th(scope="col") スペック種別
            th(scope="col") インスタンスタイプ
            th(scope="col") vCPU
            th(scope="col") メモリ(GiB)
            th(scope="col") GPU
            th(scope="col") GPUメモリ
            th(scope="col") プロト構築
    tbody
        tr
            td 低
            td p2.xlarge
            td 4
            td 61
            td 1
            td 12
            td 〇              
        tr
            td 中
            td p2.4xlarge
            td 32
            td 488
            td 8
            td 96
            td 

        tr
            td 高
            td p2.16xlarge
            td 64
            td 732
            td 16
            td 192
            td

