h4.pl-5 推論用インスタンス（Elastic Inference）
table.table.table-striped
    thead
    tr
        th(scope="col") インスタンスタイプ            
        th(scope="col") F32 スループット(TFLOPS)
        th(scope="col") F16 スループット(TFLOPS)
        th(scope="col") メモリ(GiB)
    tbody
    tr
        td ml.eia1.medium
        td 1
        td 8
        td 1
    tr
        td ml.eia1.large
        td 2
        td 16
        td 2
    tr
        td ml.eia1.xlarge
        td 4
        td 32
        td 4