h4.pl-5 Sagemakerノートブック-CPU(Jupyternotebook)
table.table.table-striped
    thead
    tr
        th(scope="col") スペック種別
        th(scope="col") インスタンスタイプ
        th(scope="col") vCPU
        th(scope="col") メモリ(GiB)
        th(scope="col") GPU
        th(scope="col") GPUメモリ
        th(scope="col") プロト構築
    tbody
    tr
        td 低
        td ml.m4.xlarge
        td 4
        td 16
        td -
        td -
        td 〇              
    tr
        td 中
        td ml.m4.4xlarge
        td 16
        td 64
        td -
        td -
        td 

    tr
        td 高
        td ml.m4.16xlarge
        td 64
        td 256
        td -
        td -
        td