doctype html
html(lang="ja" dir="ltr")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title
  body
    div.wrapper
      header.dev
        .head_wrapper
          include includes/admin_header.pug
          //- h2.text-center ログイン画面
      div.main-content
        div.form-wrapper.mx-auto
          form.m-5
            .form-group.row
              label.col-sm-5.col-form-label.text-sm-right(for="id") ログインID
              .col-sm-4
                input#id.form-control(type="text" placeholder="ID")
            .form-group.row
              label.col-sm-5.col-form-label.text-sm-right(for="inputPassword") パスワード
              .col-sm-4
                input#inputPassword.form-control(type="password" placeholder="パスワード")

            div.text-center.mt-5
              a(href="dev_top.html")
                button(type="submit") ログイン

    footer
