doctype html
html(lang="ja" dir="ltr")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title AI-Cloud-Service 管理画面
  body
    div.wrapper
      header.dev
        .head_wrapper
          include includes/admin_header.pug
          include includes/apply_login_name.pug
      div.main-content
        ul.nav.nav-tabs
          li.nav-item
            a.nav-link.active(href="#user" data-toggle="tab") 利用者情報
          li.nav-item.js-admin_apply-info
            a.nav-link(href="#apply" data-toggle="tab") 申請者情報
          

        .tab-content
          include /comp_top_admin/info_user.pug
          include /comp_top_admin/info_apply.pug
    footer
