doctype html
html(lang="ja" dir="ltr")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title AI-Cloud-Service 利用申請ポータル
  body
    div.wrapper
      header.apply
        .head_wrapper
          include includes/apply_header.pug
      div.main-content
        .form_wrapper
            h3 プロジェクト
            .form-group.row
              label.col-sm-3.col-form-label.text-sm-right(for="apply_project") プロジェクト名：
              .col-sm-3
                input#apply_project.form-control(type="text" required="" value="demo2")
            .form-group.row
              label.col-sm-3.col-form-label.text-sm-right(for="apply_project") リポジトリ名（英数字のみ）：
              .col-sm-3
                input#apply_repository.form-control.js-validate_repository(type="text" required="" value="demo2")

            h3.mt-5 管理者情報
            .form-group.row
              label.col-sm-3.col-form-label.text-sm-right(for="name") 氏名：
              .col-sm-3
                input#admin_name.form-control.js-only-alphanumeric.admin_name(type="text" required="" value="demo2")
            .form-group.row
              label.col-sm-3.col-form-label.text-sm-right(for="inputEmail3") メールアドレス：
              .col-sm-3
                input#inputEmail3.form-control.admin_email.js-validate_email(type="email" required="" value="mhlw-ai-cloud@bigtreetc.com")
            .form-group.row
              label.col-sm-3.col-form-label.text-sm-right(for="user_name") ユーザー名（英数字のみ）：
              .col-sm-3
                input#admin_user_name.form-control.admin_user_name.js-validate_sys_name(type="text" required="" value="demo2")


            h3.mt-5 開発メンバー
            p.pl-3 開発メンバーの人数上限はありません。
            p.pl-3 入力フォームを追加する場合は「追加」ボタンを、削除する場合は「削除」ボタンをクリックしてください。
            .form-group.row.justify-content-around
              //- .col-sm-1.col-form-label.text-sm-right 氏名：
              input.form-control.col-3.dev_name(type="text" placeholder="氏名" required="" value="demo3") 
              //- .col-sm-1.col-form-label.text-sm-right メールアドレス：
              input.form-control.col-3.dev_email.js-validate_email(type="email" placeholder="メールアドレス" required="" value="mhlw-ai-cloud@bigtreetc.com")
              //- .col-sm-1.col-form-label.text-sm-right ユーザー名：
              input.form-control.col-3.dev_user_name.js-validate_sys_name(type="text" placeholder="ユーザー名（英数字のみ）" required="" value="demo3")
              .col-2.row
                input.col-6.add(type="button" value="追加")
                input.col-6.del(type="button" value="削除" )
            .form-group.row.justify-content-around
              //- .col-sm-1.col-form-label.text-sm-right 氏名：
              input.form-control.col-3.dev_name(type="text" placeholder="氏名" required="" value="demo4") 
              //- .col-sm-1.col-form-label.text-sm-right メールアドレス：
              input.form-control.col-3.dev_email.js-validate_email(type="email" placeholder="メールアドレス" required="" value="mhlw-ai-cloud@bigtreetc.com")
              //- .col-sm-1.col-form-label.text-sm-right ユーザー名：
              input.form-control.col-3.dev_user_name.js-validate_sys_name(type="text" placeholder="ユーザー名（英数字のみ）" required="" value="demo4")
              .col-2.row
                input.col-6.add(type="button" value="複製")
                input.col-6.del(type="button" value="削除" )



            h3.mt-5 研究計画書
            .form-group.row
              .custom-file.col-sm-5.mb-3
                #js-selectFile
                
                  input#js-upload(type="file" style="display:none")
                  //- // オリジナルボタン
                  button.original_btn(disabled="") ファイルを選択
                  //- // アイコン
                  span.icon 未選択

            .js-check_apply
              .text-center.h5
                label                 
                  input(type="checkbox" name="riyu" value="1").js-apply_top_validate
                  |正しく入力しました。
              
              
            .form-group.row
                  
              .mx-auto
                //- a(href="./apply_approval.html")            
                a(href="./apply_approval.html")    
                  input(type="button", value="申請" disabled="").text-center.js-apply-top.button

      footer
