doctype html
html(lang="ja" dir="ltr")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title
  body
    div.wrapper
      header.dev
        .head_wrapper
          include includes/dev_header.pug
          include includes/dev_login_name.pug
      div.main-content
        h2.text-center.m-5 本当にサービスを停止しますか？
        div.form-wrapper.mx-auto
          form.m-5
        
        //- div.d-flex.justify-content-around
        div.mx-auto.w-50.d-flex.justify-content-around
          a.button.text-center(href="./dev_login.html") はい
          a.button.text-center(href="./dev_top.html") いいえ
            

    footer
