header {
  color: white;

  .head_wrapper {
    padding: 2rem 0;
  }

  &.admin,
  &.dev {
    background-color: $theme_color;
  }

  &.apply {
    background-color: $second_color;
  }
}
