#code.tab-pane(role="tabpanel" aria-labelledby="item4-tab") 
  .tab_content_wrapper
    h2 コード一覧
    .code-wrapper.border
      ul
        li 
          a(href="#") Code-1 
        li 
          a(href="#") Code-2

