#home.tab-pane.show.active(role="tabpanel" aria-labelledby="item1-tab") 
  .tab_content_wrapper
    h2.usage_stats-h2 利用状況
    .usage_stats.m-3.p-3.border.rounded
        p 
          span.js-dev_home_name 名前
          |様の現在の利用状況:
          span.js-dev_home_status 利用状況
        .except_unapplied(style="display: none;")
          p 
            |マシンのスペック
          ul  
            li.js-dev_home_instance インスタンスタイプ:
            li.js-dev_home_processor プロセッサ―:
            
          p 
            |利用申請日時:
            span.js-dev_home_request_date.mr-3
              |利用申請日時
          p
            |利用開始日:
            span.js-use_start_date
              |利用開始日
    
    button(disabled="").button.text-center インスタンス再起動
    input(type="button", value="署名付きURL発行" disabled="").button.js-createPresignedUrl
    p.js-presigned_url

