#project.tab-pane(role="tabpanel" aria-labelledby="item6-tab") 
  .tab_content_wrapper
    h2 プロジェクト一覧
    .code-wrapper.border
      ul.project_list
        li 
          a(href="#") Project-1 
        li 
          a(href="#") Project-2

      .js-dev_project
        | 

