.section {
  &__content {
    .about {
      padding: 0;
      // display: flex;
      justify-content: space-around;

      &__list {

        // text-align: center;
        // display: inline-block;
        list-style: none;
        padding-bottom: .5rem;
        padding-top: 1rem;
        border-bottom: 1px solid #ccc;
      }

      &__title {
        display: inline-block;
        width: 30%;
        text-align: right;

      }

      &__detail {
        display: inline-block;
        width: 70%;
        text-align: center;
      }
    }
  }
}